
:root{
    --light-color: #F5f5f5;
    --primary-color: #242424;
    --secondary-color: #4e4d4d;
    --highlight-color: #2cacb5;
    --alt-highlight-color: #48943c;
}

body{ 
    background-color: var(--light-color);
    color: var(--primary-color);
}
h1{
    color: var(--primary-color);
    font-size: 2rem;
}
p{
    font-size: 1rem;
}
#greeting{
    color: var(--primary-color);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background-image: url(/static/media/buce_banner.png);
    background-size: cover;
    border-bottom: 3px solid;
    border-color: var(--light-color);
}
header a {
    padding: 1rem 1.2rem;
    text-decoration: none;
    color: var(--alt-highlight-color);
}

.aquaquery{
    color: var(--light-color);
}

#myLinks {
    display: none;
    background-color: var(--primary-color);
    padding: .3rem 0;
}

#myLinks a{
    text-decoration: none;
    color: var(--light-color);
}

.hamburger{
    border: none;
    background: none;
    font-size: 2rem;
    color: var(--light-color);
    padding: .2rem .7rem ;
    margin-right: .4rem;
}

.hamburger:hover{
    color: var(--alt-highlight-color);
  }


.title{
    color: var(--primary-color);
}



.scape_section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.scape_section button{
    border: none;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    padding: .6rem 0;
}
.scape_section button:hover{
    
    background-color: var(--alt-highlight-color);
}

.scape_button{
    color:whitesmoke;
    background-color: var(--primary-color);
}
.redtab_button{
    color:whitesmoke;
    background-color: var(--secondary-color);
}

.scape_tab{
    margin: 1rem 2rem ;
}


/* Scape info */

#common_boxs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.info_box{
    margin: 1rem 1rem;
    padding: none;
    border-style:solid;
    border-color: rgb(29, 29, 29);
    border-radius: 4px;

}   

.box_name{
    display: flex;
    color: whitesmoke;
    background-color: rgb(29, 29, 29);
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1.2rem;
}

.box_info{
    display: flex;
    color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    padding: .7rem 0;
    background-color: white;
    border-radius: 2px;
}

.list_name{
    display: flex;
    justify-content: center;
    align-items: center;
}

.scape_list{
    background-color: white;
    padding: 1rem 0;
}

.list_name{
    background-color: rgb(29, 29, 29);
    color: var(--secondary-color);
}
.infotags{
    display: flex;
    flex-wrap: wrap;
}
.scape_tags{
    display: flex;
    padding: .2rem .4rem;
}

.scape_tags a{
    background-color: rgb(49, 49, 49);
    text-decoration: none;
    padding: .2rem .2rem;
    border-radius: 4px;
}


/* Add journal */

.select2-results__options{
    color: rgb(29, 29, 29);
}
.select2-selection__choice__display{
    color: rgb(29, 29, 29);
}


/* Scape Page  

#tags_container{
    
}

*/

#tags_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--primary-color);
    padding: .6rem .3rem;
    border-radius: 4px;

}

#tags_container span{
    color: var(--light-color);
}
.post_tags{
    text-decoration: none;
    color: var(--light-color);
    background-color: var(--secondary-color);
    padding: .2rem .6rem;
    margin: .2rem .2rem;
    border-radius: 5px;

    /* need to fix margin on tags */
}