body  { 
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
header {
    background-color: rgb(252, 252, 252);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0rem 1rem;
}
#hamburger button{
    border: none;
    background: none;
}
#hamburger img{
    max-width: 25px;
}
h4, p{
    margin: 0;
}

#scape_view h2 {
    border-right: solid rgb(255, 255, 255) 2px;
}
#scape_header h2, h3 {
    color:rgb(238, 238, 238);
    margin: 0;
    padding: 0rem 1rem;
    font-weight: 400;
}

#scape_header {
    background-color: rgb(11, 11, 11);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    margin: 0rem;
}

#main_img{
    padding: .5rem;
    
}
#main_img img {
    max-width: 100%;
    height: auto;
    border-radius: 4px ;
    

}

.scape_section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
}

.scape_section button{
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
    padding: .5rem 0;
    text-decoration: none;
}
.scape_section button:hover{
    color:black;
    background-color: rgb(122, 122, 122);
}
.scape_section button::selection{
    color:black;
    background-color: rgb(122, 122, 122);
}
.scape_tab{
    margin: 1rem 2rem ;
}
/* Start of Scape Feed style */


.feed_post{
    display: grid;
    grid-template-columns: 1fr;
}

.feed_text {
    border-top: solid 1px black;
    padding-top: 1rem;
    margin-top: .3rem;
}
.feed_text p{
    font-family:Arial, Helvetica, sans-serif;
}

.feed_post img{
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin: .5rem 0;
}

.feed_post_date{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: ;
    font-family: Arial, Helvetica, sans-serif;
}
#equipment{
    align-content: center;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem 2rem;
}
.box_border{
    border-radius: 5px;
    border: solid black 1px;
}
.box_title{
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
    padding-top: .5rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
}
.box_item{
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}