<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    <hr>
    <h2>Directory</h2>
    <ul>
        <li><a href="{% url 'add_scape' %}">Add Scape</a></li>
        <li><a href="{% url 'add_plant' %}">Add Plant</a></li>
        <li><a href="{% url 'list_scape' %}">Scapes</a></li>
        <li><a href="{% url 'add_entry' %}">Add Journal Entry</a></li>
    </ul>
</body>
</html>