{% extends 'base_generic.html' %}

    {% block content %}
    <h1>Home Page</h1>

    <hr>
    <h2>Directory</h2>
    <ul>
        <li><a style="color: rgb(31, 31, 31);" href="{% url 'add_scape' %}">Add Scape</a></li>
        <li><a style="color: rgb(31, 31, 31);" href="{% url 'add_plant' %}">Add Plant</a></li>
        <li><a style="color: rgb(31, 31, 31);" href="{% url 'list_scape' %}">Scapes</a></li>
        <li><a style="color: rgb(31, 31, 31);" href="{% url 'add_entry' %}">Add Journal Entry</a></li>
    </ul>
    {% endblock %}

