{% extends 'base_generic.html' %}
    {% block content %}
    <div>

        <div class="scape_top">
            <h1>Scape: {{ scape.scape_name }}</h1>
            <p>Owner: <a id="tank_owner" href=" {% url 'user_view'  scape.owner.id  %}">{{ scape.owner }}</a></p>
            <hr>

            <div class="scape_section">
                <button class="scape_button redtab_button" onclick="openTab(event,'ScapeFeed')">Feed</button>
                <button class="scape_button " onclick="openTab(event,'ScapeInfo')">Info</button>
                <button class="scape_button " onclick="openTab(event,'ScapeGallery')">Gallery</button>
            </div>
        </div>

        <div id="ScapeFeed" class="scape_tab">
            <div class="scape_tab_container">
                <h3>Scape Jounal</h3>
                <br>

                {% for feed in page_obj %}
                <div>{{ feed.post_date }}</div>
                <div><p>{{feed.content }}</p></div>
                
                
                    {%if feed.plant_tags.all %}
                    <div id="tags_container">
                        {% for tag in feed.plant_tags.all %} 
                            <a class="post_tags">{{tag}}</a> 
                        {% endfor %}
                    </div>    
                    {% endif %}
                
                <br>
                {% endfor %}
                <hr>

                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
        
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
        
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>

        <div id="ScapeInfo" class="scape_tab" style="display: none;">
            <div class="scape_tab_container">
                <div id="common_boxs">
                    <div class="info_box">
                        <div class="box_name">Size </div>
                        <div class="box_info">{{scape.size}}</div>
                    </div>

                    <div class="info_box">
                        <div class="box_name">Volme</div>
                        <div class="box_info">{{scape.volume}}</div>
                    </div>

                    <div class="info_box">
                        <div class="box_name">Filtration</div>
                        <div class="box_info">{{scape.filtration}}</div>
                    </div>

                    <div class="info_box">
                        <div class="box_name">Lighting</div>
                        <div class="box_info">{{scape.lighting}}</div>
                    </div>

                    <div class="info_box">
                        <div class="box_name">CO2</div>
                        <div class="box_info">{{scape.co2}}</div>
                    </div>

                    <div class="info_box">
                        <div class="box_name">Soil</div>
                        <div class="box_info">{{scape.soil}}</div>
                    </div>
                </div>

                <div class="scape_list">
                    <div class="list_name"><h3>Hardscape</h3></div>
                    <div class="infotags">
                        {% for hardscape in scape.hardscape.all %} 
                            <div class="scape_tags">
                                <a href="#">-{{hardscape}}&nbsp;</a>
                            </div> 
                        {% endfor %} 
                    </div>
                </div>

                <div class="scape_list">
                    <div class="list_name"><h3>Fish</h3></div>
                    <div class="infotags">
                        {% for fish in scape.fish.all %} 
                            <div class="scape_tags">
                                <a href="#">-{{fish}}&nbsp;</a>
                            </div> 
                        {% endfor %}
                    </div>
                </div>

                <div class="scape_list">
                    <div class="list_name"><h3>Invertebrates</h3></div>
                    <div class="infotags">
                        {% for invert in scape.invertebrate.all %} 
                            <div class="scape_tags"> 
                                <a href="#">-{{invert}}&nbsp;</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="scape_list">
                    <div class="list_name"><h3>Plants</h3> </div>
                    <div class="infotags">
                        {% for plant in scape.plants.all %} 
                            <div class="scape_tags">
                                <a href="#">-{{plant}}&nbsp;</a>
                            </div>
                        {% endfor %}
                    </div>   
                </div>

            </div>
        </div>

        <div id="ScapeGallery" class="scape_tab" style="display: none;"></div>
        <br><br>
    </div>
    
        <script>
            function openTab(evt, tabName) {
              var i, scape_buttons;
              var x = document.getElementsByClassName("scape_tab");
              for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";  
              }

            scape_buttons = document.getElementsByClassName("scape_button");
            for (i = 0; i < x.length; i++) {
                scape_buttons[i].className = scape_buttons[i].className.replace("redtab_button", "");
            }
            
            document.getElementById(tabName).style.display = "block";  
            evt.currentTarget.className += "redtab_button";
            }
        </script>
    {% endblock %}

 