{% extends 'base_generic.html' %}
{% load crispy_forms_tags %}

    {% block content %}
        <h1>{{ request.user }}</h1>
        <div> {{profile.country}}</div>
        <div> {{profile.instagram}}@instagram</div>
        <br>
        <div>
            <h2>Scapes</h2>
            {% for i in scape.all %} 
                <a href=" {% url 'scape_view' i.id %} "> {{i.scape_name}} </a> 
            {% endfor %}
        </div>
       
    {% endblock %}


    {% block scripts %}
        <script>
            
        </script>
    {% endblock %}